video {
    width: 100% !important;
    max-height: 600px !important;
}

video::cue { 
    font-size: 1rem;
}

.fa-solid {
    font-size: xx-large;
}

.h-desc {
    height: 70px;
}

.fondo {
    background-color: powderblue !important;
}

